div#div_login {
    border-width: 1px;
    border-style: solid;
    border-color: #ddd;
    border-radius: 10px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    padding: 20px;
    margin-top: 50%;
    background: white;
}

div#div_login h2 {
    display: block;
}

div#div_login h4 {
    display: block;
    margin-top:30px;
    color:#a9a9a9;
}

div#div_login form {
    margin-top: 20px;
}

div#div_login a {
    display: block;
    margin-top: 20px;
    cursor: pointer;
}