<div ng-include src="'assets/templates/navbar.html'"></div>

<div class="container" ng-controller="patients_controller">
	<div class="row clearfix margin-top-50px text-center">
		<div class="col-sm-12 col-md-12">
			<h2>Patients</h2>
		</div>
		<div class="col-sm-12 col-md-12 margin-top-20px">
			<table class="table centered table-inverse">
				<thead class="thead-inverse">
					<tr>
						<th>ID</th>
						<th>Last Uploaded</th>
						<th></th>
					</tr>
				</thead>
				<tbody class="text-left">
					<tr>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>